.scrapbook {
    color: green;
    padding: 20px;
    display: flex;
    flex-direction: row;
    margin: 5px;
    height: auto;
    

    & h2 {
        writing-mode: vertical-lr;
        text-orientation: upright;
        text-align: center;
        font-size: 90%;
        letter-spacing: -5px;
        color: teal;
        overflow: overflow;
    }

    & .project {
        background-color: pink;
        padding: 10px;
        border-radius: 10%;
        margin: 1px;
        box-shadow: 2px -2px rgba(201, 114, 114, 0.5);
    }

    & .project:hover {
        background-color: rgb(215, 149, 160);
    }
}

.list {
    color: darkred;

    & h2 {
        color: purple;
    }

    .project {
        background-color: cornflowerblue;
        width: 85vw;
        padding: 10px;
        margin: 13px;
        text-align: left;
        min-height: 10vh;
    }
}